<% flash.each do |type, message| %>
  <% next unless message.present? %>

  <% 
    alert_type = case type.to_sym
      when :alert, :error then "error"
      when :warning then "warning"
      when :notice, :success then "success"
      else "info"
    end

    dismiss_delay = (type.to_sym == :alert) ? 4000 : 2000
  %>

  <div
    data-controller="flash"
    data-flash-delay-value="<%= dismiss_delay %>"
    class="toast toast-top toast-end z-50 transform transition-all duration-300"
  >
    <div class="alert alert-<%= alert_type %> shadow-lg max-w-md">
      <div class="flex items-center gap-2">
        <%= flash_icon(type) if respond_to?(:flash_icon) %>
        <span><%= message %></span>
      </div>

      <button
        type="button"
        data-action="click->flash#hide"
        class="btn btn-sm btn-ghost"
      >
        ✕
      </button>
    </div>
  </div>
<% end %>
