<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">POS UMKM</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-vertical lg:menu-horizontal px-1">
      <% if authenticated? %>
        <li>
          <details class="dropdown">
            <summary class="btn btn-ghost">
              <%#= Current.user.email %>
              Admin
            </summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 right-0">
              <li><%#= link_to "Profile", profile_path %></li>
              <li>
                <%= link_to "Dashboard", admin_orders_path %>
              </li>
              <li><%= button_to "Logout", session_path, method: :delete %></li>
            </ul>
          </details>
        </li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>
